body{
    text-align: center;
    font-family: 'Golos Text', sans-serif;
    font-size: 21px;
    background: #ffffff;
}
h2{
    margin-top: 3%;
}
.review{
    background: #f2f4f3;
    /* margin-top: 13%; */
    margin: 3px;

}
.img-container img{
    margin-top: 5px;
    width: 40%;
    border-radius: 50%;
}
p#occupation,
.btn-container,
.footer
{
    color: lightblue;
}
#review-info{
    font-size: .9em;
}
.btn-container{
    font-size: 1.5em;
    padding: 3px;
    cursor: pointer;
    
}
.footer{
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0px;
    font-size: 0.9em;
    border: 2px solid lightblue;
}
